In [33]:
import pandas as pd
df = pd.read_csv("/content/main.csv")
df.head(30)

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit
0,1001,tomato,vegetable,2021-11-01,2.99,36,kg
1,1001,tomato,vegetable,2021-11-02,2.99,23,kg
2,1001,tomato,vegetable,2021-11-03,2.99,34,kg
3,1001,tomato,vegetable,2021-11-04,2.99,23,kg
4,1001,tomato,vegetable,2021-11-05,2.99,34,kg
5,1001,tomato,vegetable,2021-11-06,2.99,20,kg
6,1001,tomato,vegetable,2021-11-07,2.99,21,kg
7,1001,tomato,vegetable,2021-11-08,2.99,20,kg
8,1001,tomato,vegetable,2021-11-09,2.99,31,kg
9,1001,tomato,vegetable,2021-11-10,2.99,34,kg
10,1001,tomato,vegetable,2021-11-11,NaN,20,kg
11,1001,tomato,vegetable,2021-11-12,2.99,22,kg
12,1001,tomato,vegetable,2021-11-13,2.99,26,kg
13,1001,tomato,vegetable,2021-11-14,2.99,38,kg
14,1001,tomato,vegetable,2021-11-15,3.49,38,kg
15,1001,tomato,vegetable,2021-11-16,3.49,28,kg
16,1001,tomato,vegetable,2021-11-17,3.49,29,kg
17,1001,tomato,vegetable,2021-11-18,3.49,36,kg
18,1001,tomato,vegetable,2021-11-19,3.49,37,kg
19,1001,tomato,vegetable,2021-11-20,3.49,27,kg
20,1001,tomato,vegetable,2021-11-21,3.49,22,kg
21,1001,tomato,vegetable,2021-11-22,3.49,22,kg
22,1001,tomato,vegetable,2021-11-23,3.49,30,kg
23,1001,tomato,vegetable,2021-11-24,2.89,39,kg
24,1001,tomato,vegetable,2021-11-25,2.89,25,kg
25,1001,tomato,vegetable,2021-11-26,2.89,21,kg
26,1001,tomato,vegetable,2021-11-27,2.89,38,kg
27,1001,tomato,vegetable,2021-11-28,2.89,26,kg
28,1001,tomato,vegetable,2021-11-29,2.89,24,kg
29,1001,tomato,vegetable,2021-11-30,2.89,21,kg

TO KNOW THE MEAN VALUE OF EACH PRODUCT

In [34]:
df.groupby('product_description')['price'].mean()

product_description
apple           2.077778
butter-0.25    11.400000
cucumber        4.532857
grape           4.400000
milk-1.5        6.078571
onion           2.150714
orange          2.714286
plum            4.389655
tomato          3.121034
yogurt-1        6.693103
Name: price, dtype: float64

INTRODUING A NEW COLUMN WHICH HAS THE VALUES BASED ON THE MEAN OF ALL THE PRODUCTS

In [36]:
df["price_new"] = df['price'].fillna(df.groupby('product_description')['price'].transform("mean"))

In [38]:
df[df["price"].isna()].head()

,product_code,product_description,product_group,sales_date,price,sales_quantity,unit,price_new
10,1001,tomato,vegetable,2021-11-11,NaN,20,kg,3.121034
34,1002,cucumber,vegetable,2021-11-05,NaN,24,kg,4.532857
37,1002,cucumber,vegetable,2021-11-08,NaN,38,kg,4.532857
73,1003,onion,vegetable,2021-11-14,NaN,39,kg,2.150714
74,1003,onion,vegetable,2021-11-15,NaN,25,kg,2.150714

In [41]:
df['price_new'].isnull().sum()

0

In [43]:
df.to_csv('main.csv', index=False)